# Kickstart modified by solutions teams

# WARNING:
#
#   This file is deprecated and will be removed in in the future.
#   Use the Anaconda configuration files instead.
#
ostreesetup --nogpg --osname=rhel --remote=rhel --url=file:///install/ostree --ref=rhel/9/x86_64/standard

zerombr
clearpart --all --initlabel
autopart --type=plain --noswap --nohome

text

user --name=vesbkp --uid=2205 --gid=2205 --groups=wheel,adm,systemd-journal,vpm --iscrypted --password=$2b$10$Fjs3bKzeLTgKuTxbFNcicey00Gl1/Ohq.tViUwhqSsPIZS8DU91Ja

selinux --disabled

firewall --disable

lang en_US.UTF-8

timezone Etc/UTC

keyboard --vckeymap=us --xlayouts=''

bootloader --append='intel_iommu=off hugepagesz=1G hugepagesz=2M loglevel=3 tsc=reliable clocksource=tsc console=ttyS0,115200n8 console=tty0'

services --disabled cloud-init,cloud-config,cloud-final,cloud-init-local

# Network configuration
network --bootproto=dhcp --onboot=on --noipv6

%post --erroronfail
cp /etc/skel/.bash* /var/roothome
fn=/etc/ostree/remotes.d/rhel.conf; if test -f ${fn} && grep -q -e '^url=file:///install/ostree' ${fn}; then rm ${fn}; fi
%end

%post --erroronfail
if grep -q vesbkp /etc/passwd; then echo 'User vesbkp already exists'; else groupadd -g 2205 vesbkp; useradd -m -u 2205 -g 2205 -m -G wheel,adm,systemd-journal,vpm -p '$2b$10$Fjs3bKzeLTgKuTxbFNcicey00Gl1/Ohq.tViUwhqSsPIZS8DU91Ja' vesbkp; fi
%end

%post --erroronfail
if grep -q admin /etc/passwd; then echo 'User admin already exists'; else groupadd -g 2202 admin; useradd -m -u 2202 -g 2202 -m -G vpm -s /opt/bin/vpmu -p '$2b$10$Fjs3bKzeLTgKuTxbFNcicey00Gl1/Ohq.tViUwhqSsPIZS8DU91Ja' admin; fi
%end

%post --erroronfail
if grep -q vesop /etc/passwd; then echo 'User vesop already exists'; else groupadd -g 2201 vesop; useradd -m -u 2201 -g 2201 -m -G wheel,adm,systemd-journal,vpm vesop; fi
%end

reboot